@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome little baby bones</h1>
        <h2>ABOBA</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <img class="text-center img-fluid  w-100 h-75" img src="/images/poop.png">
    </div>
</div>