@page
@model SenbonzakuraGeneral.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<div class="row">
    <div class="col text-center">
        <img src ="/images/error.jpeg"/>
    </div>
</div>

<div class="row m-4">
    <div class="col text-center">
        <h1>It's a pitty, isn't it?</h1>
        <a asp-page="/Goods/Goods" class ="btn-dark btn btn-primary m-4">Click da btn to go back</a>
    </div>
</div>